In [5]:
import pandas as pd
import matplotlib as plt

In [6]:
clean_data=pd.read_csv("../data_raw/raw_yield_data.csv")

In [7]:
clean_data

  Height  Weight  Age  Grip strength  Frailty
0   65.8     112   30             30        N
1   71.5     136   19             31        N
2   69.4     153   45             29        N
3   68.2     142   22             28        Y
4   67.8     144   29             24        Y
5   68.7     123   50             26        N
6   69.8     141   51             22        Y
7   70.1     136   23             20        Y
8   67.9     112   17             19        N
9   66.8     120   39             31        N

In [8]:
clean_data.describe()

       Height  Weight  Age  Grip strength  Frailty
count       10      10   10             10       10
unique      10       8   10              9        2
top      68.2     136   29             31        N
freq         1       2    1              2        6

In [9]:
clean_data.shape

(10, 5)

In [10]:
clean_data.isnull().any()

Height            False
Weight            False
Age               False
Grip strength     False
Frailty           False
dtype: bool

In [11]:
clean_data.to_csv("../data_clean/clean_yield_data.csv", index=False)